<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ encore_entry_link_tags('app') }}
    <title>Welcome!</title>
</head>
<body>
    <div id="home-container">
        <div class="home-logo w-50">
            <div class="big-logo d-flex justify-content-center align-items-center ">
                <svg width="479" height="192" viewBox="0 0 479 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.76 191.1C50.2533 191.1 40.6467 190.367 29.94 188.9C24.0733 188.167 20.04 186.627 17.84 184.28C15.64 181.933 14.6867 178.12 14.98 172.84C16.0067 158.32 18.4267 140.427 22.24 119.16C26.0533 97.7467 30.6733 77.14 36.1 57.34C37.1267 53.6733 39.18 51.1067 42.26 49.64C45.34 48.1733 49.3733 47.44 54.36 47.44C63.3067 47.44 67.78 49.9333 67.78 54.92C67.78 56.9733 67.34 59.32 66.46 61.96C62.6467 73.6933 58.8333 89.46 55.02 109.26C51.2067 128.913 48.4933 147.687 46.88 165.58C51.28 166.02 56.2667 166.24 61.84 166.24C87.5067 166.24 106.647 158.467 119.26 142.92C132.02 127.373 138.4 106.62 138.4 80.66C138.4 63.2067 133.413 49.7133 123.44 40.18C113.467 30.6467 99.3867 25.88 81.2 25.88C69.4667 25.88 57.8067 27.7133 46.22 31.38C34.78 35.0467 24.44 39.8867 15.2 45.9C13.2933 47.22 11.24 47.88 9.04 47.88C6.54667 47.88 4.56667 46.8533 3.1 44.8C1.63333 42.6 0.9 39.96 0.9 36.88C0.9 33.36 1.48667 30.5 2.66 28.3C3.83333 25.9533 5.81333 23.8267 8.6 21.92C18.72 15.0267 30.6 9.81999 44.24 6.29999C57.88 2.63333 71.0067 0.799997 83.62 0.799997C101.513 0.799997 116.987 3.95333 130.04 10.26C143.093 16.42 153.14 25.5133 160.18 37.54C167.22 49.5667 170.74 64.0867 170.74 81.1C170.74 103.247 166.34 122.607 157.54 139.18C148.74 155.607 135.907 168.367 119.04 177.46C102.173 186.553 82.08 191.1 58.76 191.1ZM297.666 122.46C299.573 122.46 301.04 123.413 302.066 125.32C303.093 127.227 303.606 129.647 303.606 132.58C303.606 139.62 301.48 143.8 297.226 145.12C288.426 148.2 278.746 149.96 268.186 150.4C265.4 162.72 259.9 172.62 251.686 180.1C243.473 187.433 234.16 191.1 223.746 191.1C214.946 191.1 207.393 188.973 201.086 184.72C194.926 180.467 190.233 174.82 187.006 167.78C183.78 160.74 182.166 153.113 182.166 144.9C182.166 133.753 184.293 123.853 188.546 115.2C192.8 106.4 198.666 99.58 206.146 94.74C213.626 89.7533 221.913 87.26 231.006 87.26C242.153 87.26 251.1 91.1467 257.846 98.92C264.74 106.547 268.773 116.007 269.946 127.3C276.84 126.86 285.053 125.393 294.586 122.9C295.76 122.607 296.786 122.46 297.666 122.46ZM225.506 167.78C230.2 167.78 234.233 165.873 237.606 162.06C241.126 158.247 243.473 152.747 244.646 145.56C240.1 142.48 236.58 138.447 234.086 133.46C231.74 128.473 230.566 123.193 230.566 117.62C230.566 115.273 230.786 112.927 231.226 110.58H230.126C224.26 110.58 219.346 113.44 215.386 119.16C211.573 124.733 209.666 132.653 209.666 142.92C209.666 150.987 211.206 157.147 214.286 161.4C217.513 165.653 221.253 167.78 225.506 167.78ZM300.344 191.1C294.771 191.1 290.811 188.167 288.464 182.3C286.264 176.433 285.164 167.047 285.164 154.14C285.164 135.073 287.877 116.96 293.304 99.8C294.624 95.5467 296.751 92.4667 299.684 90.56C302.764 88.5067 307.017 87.48 312.444 87.48C315.377 87.48 317.431 87.8467 318.604 88.58C319.777 89.3133 320.364 90.7067 320.364 92.76C320.364 95.1067 319.264 100.387 317.064 108.6C315.597 114.467 314.424 119.6 313.544 124C312.664 128.4 311.931 133.827 311.344 140.28C316.184 127.667 321.611 117.4 327.624 109.48C333.637 101.56 339.504 95.9133 345.224 92.54C351.091 89.1667 356.444 87.48 361.284 87.48C370.817 87.48 375.584 92.2467 375.584 101.78C375.584 107.5 373.971 117.84 370.744 132.8C367.957 145.56 366.564 153.993 366.564 158.1C366.564 163.967 368.691 166.9 372.944 166.9C375.877 166.9 379.324 165.14 383.284 161.62C387.391 157.953 392.817 152.087 399.564 144.02C401.324 141.967 403.304 140.94 405.504 140.94C407.411 140.94 408.877 141.82 409.904 143.58C411.077 145.34 411.664 147.76 411.664 150.84C411.664 156.707 410.271 161.253 407.484 164.48C401.177 172.253 394.357 178.633 387.024 183.62C379.837 188.607 371.624 191.1 362.384 191.1C354.904 191.1 349.257 188.973 345.444 184.72C341.631 180.32 339.724 174.013 339.724 165.8C339.724 161.693 340.751 154.36 342.804 143.8C344.711 134.56 345.664 128.18 345.664 124.66C345.664 122.313 344.857 121.14 343.244 121.14C341.337 121.14 338.624 123.633 335.104 128.62C331.731 133.46 328.211 139.913 324.544 147.98C321.024 156.047 318.164 164.553 315.964 173.5C314.351 180.393 312.444 185.087 310.244 187.58C308.191 189.927 304.891 191.1 300.344 191.1ZM472.625 147.54C474.531 147.54 475.998 148.42 477.025 150.18C478.198 151.94 478.785 154.36 478.785 157.44C478.785 162.72 477.538 167.267 475.045 171.08C470.938 177.387 465.511 182.3 458.765 185.82C452.165 189.34 444.245 191.1 435.005 191.1C420.925 191.1 409.998 186.92 402.225 178.56C394.451 170.053 390.565 158.613 390.565 144.24C390.565 134.12 392.691 124.733 396.945 116.08C401.198 107.28 407.065 100.313 414.545 95.18C422.171 90.0467 430.751 87.48 440.285 87.48C448.791 87.48 455.611 90.0467 460.745 95.18C465.878 100.167 468.445 106.987 468.445 115.64C468.445 125.76 464.778 134.487 457.445 141.82C450.258 149.007 437.938 154.727 420.485 158.98C424.005 165.727 429.945 169.1 438.305 169.1C444.318 169.1 449.231 167.707 453.045 164.92C457.005 162.133 461.551 157.44 466.685 150.84C468.445 148.64 470.425 147.54 472.625 147.54ZM436.545 109.04C431.118 109.04 426.498 112.193 422.685 118.5C419.018 124.807 417.185 132.433 417.185 141.38V141.82C425.838 139.767 432.658 136.687 437.645 132.58C442.631 128.473 445.125 123.707 445.125 118.28C445.125 115.493 444.318 113.293 442.705 111.68C441.238 109.92 439.185 109.04 436.545 109.04Z" fill="white"/>
                </svg>
            </div>
            <div class="d-flex justify-content-center">
                <div data-aos="fade-right" data-aos-duration="1500" class="logo-underline"></div>
            </div>
        </div>
        <div class="home-welcome">
            Today is the day!
        </div>
        <div class="home-login-signin">
            <div>
                <a class="home-login" href="{{ path('app_login') }}">
                    LogIn
                </a>
            </div>
            <div>
                <a class="home-signin" href="{{ path('home') }}">
                    SignIn
                </a>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js" integrity="sha512-E378bwaeZf1nwXeJGIwTB58A5gPt5jFU3u6aTGja4ZdRFJeo/N/REKnBgNZOZlH6JdnOPO98vg2AnSGaNfCMFQ==" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}

</body>
</html>
