.form-container {
  width: 80vw;
  background-color: #92afaf;
  margin-top: 5em;
  form {
    width: 100%;
  }
}

#task_content {
  width: 27vw;
  border: solid 1px;
}

#task_category, #task_day {
  border: solid 1px;
}

.is-of-the-week-button {
  background-color: white;
  border-radius: 50%;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  color:white;
  overflow: hidden;
  user-select: none;
  .form-group {
    margin-bottom: 0;
  }
  .form-check {
    padding-left: 0;
  }
  #task_isOfTheWeek {
    display: none;
  }
}

.task-form button{
  border-radius: 50%;
  background-color: #429d7b;
}
