body {
  background-color: #fbfbe5;
  font-family: 'Poiret One', cursive;
}

.main {
  padding-top: 9vh;
}

h5 {
  font-family: 'Pacifico', cursive;
  color: #121013;
}

.turquoise-blue-color {
  color: $main-turquoise-blue;
}

.fa, .fas {
  color: black;
}

#citation {
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 95%;
  position:absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: grab;
  color: $main-turquoise-blue;
  #citation-close{
    position: absolute;
    right: 4em;
    top: 4em;
  }
}

.turquoise-color {
  color: $main-turquoise-blue;
}