body {
  background-color: #fbfbe5;
  font-family: 'Poiret One', cursive;
}

.main {
  padding-top: 9vh;
}

h5 {
  font-family: 'Pacifico', cursive;
  color: #121013;
}

.turquoise-blue-color {
  color: $main-turquoise-blue;
}