#home-container {
  background-color: #485454;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: #92afaf;
  }
}

.transition-home-background {
  transition: 2.5s;
}

.home-logo {
  flex: 2;
}

.home-welcome {
  flex: 1;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
}

.home-login-signin {
  flex: 1;
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-family:'Pacifico', cursive;
  font-size: 3em;
}

.home-login {
  color: $main-green;
  &:hover {
    color: #d1f98f;
    text-decoration: none;
  }
}

.home-signin {
  color: $main-yellow;
  &:hover {
    color: #fff6a4;
    text-decoration: none;
  }
}

.logo-underline {
  width: 30%;
  height: 1em;
  border-radius: 5px;
  background-color: white;
  margin: 2em 0;
}

.big-logo {
  margin-top: 10vh;
}