<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'components/_nav.html.twig' %}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="main">
            {% include 'components/_datetime.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
         {% block javascripts %}
        {% endblock %}
    </body>
</html>
