<nav class="d-flex justify-content-center align-items-center">
    <div class="nav-container">
        <h5 id="time"></h5>
    </div>
    <div class="nav-container nav-container-logo">Logo</div>
    <div class="nav-container">
        <a href="{{ path('app_logout') }}">
            <h5>Logout</h5>
        </a>
    </div>
</nav>